{% extends "base.html" %}

{% load syntax %}
{% load person %}
{% load patch %}

{% block title %}{{patch.name}}{% endblock %}

{% block body %}
<script type="text/javascript">
function toggle_headers(link_id, headers_id)
{
    var link = document.getElementById(link_id)
    var headers = document.getElementById(headers_id)

    var hidden = headers.style['display'] == 'none';

    if (hidden) {
        link.innerHTML = 'hide';
        headers.style['display'] = 'block';
    } else {
        link.innerHTML = 'show';
        headers.style['display'] = 'none';
    }

}
</script>

<h1>{{ patch.name }}</h1>
<div class="core-info">
    <span>Submitted by {{ patch.submitter|personify:project }} on {{ patch.date }}</span>
</div>

<h2>Details</h2>
<div style="display: flex; width: 100%">

  <div style="width: 50%">
    <table class="patchmeta">
     <tr>
      <th>Message ID</th>
      <td>{{ patch.msgid|msgid }}</td>
     </tr>
      <tr>
       <th>State</th>
       <td>{{ patch.state.name }}{% if patch.archived %}, archived{% endif %}</td>
      </tr>
    {% if patch.commit_ref %}
      <tr>
       <th>Commit</th>
       <td>{{ patch.commit_ref }}</td>
      </tr>
    {% endif %}
    {% if patch.delegate %}
      <tr>
       <th>Delegated to:</th>
       <td>{{ patch.delegate.profile.name }}</td>
      </tr>
    {% endif %}
     <tr>
      <th>Headers</th>
      <td><a id="togglepatchheaders"
       href="javascript:toggle_headers('togglepatchheaders', 'patchheaders')"
       >show</a>
       <div id="patchheaders" class="patchheaders" style="display:none;">
        <pre>{{patch.headers}}</pre>
       </div>
      </td>
     </tr>
     {% for series, revs in seriesrevisions %}
       <tr>
        <th>{% if forloop.first %} Series{% endif %}</th>
        <td>
         <a href="{% url 'series' series=series.id %}"/>"{{ series }}"</a>
         ( rev:
          {% for rev in revs %}
            <a href="{% url 'series' series=series.id %}#rev{{ rev.version }}"/>{{ rev.version }}</a>
            {% endfor %})
            in
           <a href="{% url 'series_list' project=series.project.linkname %}"/>{{ series.project.name }}</a> <br/>
        </td>
       </tr>
       {% endfor %}
    </table>
  </div>

  <div style="width: 50%; text-align: right;" class="series-info">
    <br/>
    {% if current_revision %}
      <b>Browsing this patch as part of:</b><br/>
         <a href="{% url 'series' series=current_revision.series.id %}#rev{{ current_revision.version }}"/>"{{ current_revision.series }}" rev {{ current_revision.version }}</a> in 
        <a href="{% url 'series_list' project=current_revision.series.project.linkname %}"/>{{ current_revision.series.project.name }}</a> <br/>
      {% if prev_patch %}
        <a href="{% url 'patch' patch_id=prev_patch.id %}?series={{ current_revision.series.id }}&rev={{ current_revision.version }}">&lt;&lt; prev patch</a>
      {% else %}
        &lt;&lt; prev patch
      {% endif %}
        [{{ current_patch_number }}/{{ patch_count }}]
      {% if next_patch %}
        <a href="{% url 'patch' patch_id=next_patch.id %}?series={{ current_revision.series.id }}&rev={{ current_revision.version }}">next patch &gt;&gt;</a>
      {% else %}
        next patch &gt;&gt;
      {% endif %}
    {% else %}
      <b>Not browsing as part of any series.</b>
    {% endif %}
  </div>
</div>

<div class="patchforms">

{% if patchform %}
 <div class="patchform patchform-properties">
  <h3>Patch Properties</h3>
   <form method="post">
    {% csrf_token %}
    <table class="form">
     <tr>
      <th>Change state:</th>
      <td>
       {{ patchform.state }}
       {{ patchform.state.errors }}
      </td>
     </tr>
     <tr>
      <th>Delegate to:</th>
      <td>
       {{ patchform.delegate }}
       {{ patchform.delegate.errors }}
      </td>
     </tr>
     <tr>
      <th>Archived:</th>
      <td>
       {{ patchform.archived }}
       {{ patchform.archived.errors }}
      </td>
     </tr>
     <tr>
      <td></td>
      <td>
       <input type="submit" value="Update">
      </td>
     </tr>
    </table>
  </form>
 </div>
{% endif %}

{% if createbundleform %}
 <div class="patchform patchform-bundle">
  <h3>Bundling</h3>
   <table class="form">
    <tr>
     <td>Create bundle:</td>
     <td>
       {% if createbundleform.non_field_errors %}
       <dd class="errors">{{createbundleform.non_field_errors}}</dd>
       {% endif %}
      <form method="post">
       {% csrf_token %}
       <input type="hidden" name="action" value="createbundle"/>
       {% if createbundleform.name.errors %}
       <dd class="errors">{{createbundleform.name.errors}}</dd>
       {% endif %}
        {{ createbundleform.name }}
       <input value="Create" type="submit"/>
      </form>
      </td>
    </tr>
{% if bundles %}
    <tr>
     <td>Add to bundle:</td>
     <td>
      <form method="post">
       {% csrf_token %}
       <input type="hidden" name="action" value="addtobundle"/>
       <select name="bundle_id"/>
        {% for bundle in bundles %}
         <option value="{{bundle.id}}">{{bundle.name}}</option>
        {% endfor %}
        </select>
       <input value="Add" type="submit"/>
      </form>
     </td>
    </tr>
{% endif %}
   </table>

 </div>
{% endif %}

 <div style="clear: both;">
 </div>
</div>

{% if patch.pull_url %}
<h2>Pull-request
 <a href="{% url 'patch_mbox' patch_id=patch.id %}"
   >download mbox</a>
</h2>
<tt>git pull {{ patch.pull_url }}</tt>
{% endif %}

{% for item in patch.commit_message %}
<h2>Commit Message</h2>
<div class="comment">
<div class="meta">
 <span>{{ item.submitter|personify:project }}</span>
 <span class="pull-right">{{ item.date }}</span>
</div>
<pre class="content">
{{ item|commentsyntax }}
</pre>
</div>
{% endfor %}

{% if test_results %}
<h2>Tests</h3>

<div class="well transparent">
  <div class="panel-group" id="test-accordion" role="tablist" aria-multiselectable="true">
    {% for test_result in test_results %}
    {% include "patchwork/test-result.html" %}
    {% endfor %}
  </div>
</div>
{% endif %}

{% if patch.content %}
<h2>
 Patch
 <a href="javascript:toggle_headers('hide-patch', 'patch')" id="hide-patch">hide</a></span>
{% if patch.content %}
 <span>|</span>
 <a href="{% url 'patch_content' patch_id=patch.id %}"
   >download patch</a>
{% endif %}
 <span>|</span>
 <a href="{% url 'patch_mbox' patch_id=patch.id %}"
   >download mbox</a>
</h2>
<div id="patch" class="patch">
<pre class="content">
{{ patch|patchsyntax }}
</pre>
</div>
{% endif %}

{% for item in patch.answers %}
{% if forloop.first %}
<h2>Comments</h2>
{% endif %}

<div id="comment_{{ item.pk }}" class="comment">
<div class="meta">
 <span>{{ item.submitter|personify:project }}</span>
 <a href="#comment_{{ item.pk }}" class="pull-right">{{ item.date }}</a>
</div>
<pre class="content">
{{ item|commentsyntax }}
</pre>
</div>
{% endfor %}

{% endblock %}
