{% extends "base.html" %}

{% load static %}
{% load person %}

{% block title %}{{project.name}}{% endblock %}

{% block headers_prepatchwork %}
{% include "patchwork/series-list-templates.html" %}
<script type="text/javascript" src="{% static "js/mustache.min.js" %}"></script>
{% endblock %}

{% block headers %}
  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-datepicker3.min.css" %}"/>
  <script type="text/javascript" src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/series-list.js" %}"></script>
{% endblock %}

{% block series_active %}active{% endblock %}

{% block body %}
<h1>Series</h1>

<nav class="navbar navbar-default toolbar" role="navigation">
 <div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#series-toolbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="series-toolbar">
    <ul class="nav navbar-nav" id="serieslist-filters">
      <li>
        <p class="navbar-text">Filter by:</p>
      </li>
      <li class="dropdown" id="status-filter">
        <a data-toggle="dropdown" href='#' id="status-filter-dropdown">
          Status
          <span class="caret"></span>
        </a>
        <ul role="menu" class="dropdown-menu table-toolbar">
          <li>
            <form id="status-form">
             <div class="checkbox">
               <label>
                 <input id="status-new" type="checkbox" value="new" name="status-options">
                 New
               </label>
             </div>
             <div class="checkbox">
               <label>
                 <input id="status-in-progress" type="checkbox" value="in progress" name="status-options">
                 In progress
               </label>
             </div>
             <div class="checkbox">
               <label>
                 <input id="status-done" type="checkbox" value="done" name="status-options">
                 Done
               </label>
             </div>
             <div class="checkbox">
               <label>
                 <input id="status-incomplete" type="checkbox" value="incomplete" name="status-options">
                 Missing patches
               </label>
             </div>
             <button type="submit" class="btn btn-default apply-filter">Apply</button>
           </form>
          </li>
        </ul>
      </li>
      <li class="dropdown" id="date-filter">
        <a data-toggle="dropdown" href="#" id="date-filter-dropdown">
          <button id="clear-date-filter" class="btn btn-default btn-xs" title="Clear date filter" style="display:none;">
             <span class="glyphicon glyphicon-remove"></span>
          </button>
          Date
          <span class="caret"></span>
        </a>
        <ul role="menu" class="dropdown-menu table-toolbar">
          <li>
           <form id="date-form">
            <div class="form-group">
             <label for="date-from">Updated from</label>
             <div class="input-group date">
              <input type="text" class="form-control" id="date-from">
              <span class="input-group-addon">
               <i class="glyphicon glyphicon-th"></i>
              </span>
             </div>
            </div>
            <div class="form-group">
             <label for="date-to">To</label>
             <div class="input-group date">
              <input type="text" class="form-control" id="date-to">
              <span class="input-group-addon">
               <i class="glyphicon glyphicon-th"></i>
              </span>
             </div>
            </div>
            <div>
             <button type="submit" class="btn btn-default apply-filter">Apply</button>
             <button class="btn btn-link" style="display:none;">Clear date filter</button>
            </div>
           </form>
          </li>
        </ul>
      </li>
      <li class="dropdown" id="submitter-filter">
        <a data-toggle="dropdown" href='#' id="submitter-filter-dropdown">
          <button id="clear-submitter-filter" class="btn btn-default btn-xs" title="Clear submitter filter" style="display:none;">
             <span class="glyphicon glyphicon-remove"></span>
          </button>
          Submitter
          <span class="caret"></span>
        </a>
        <ul role="menu" class="dropdown-menu table-toolbar">
           <li><span>Show series:</span></li>
           <li>
            <form id="submitter-form">
             <div class="radio">
               <label>
                 <input id="submitter-me" type="radio" value="me" name="submitter-options">
                 Submitted by me
               </label>
             </div>
             <div class="radio">
               <label>
                 <input id="submitter-by" type="radio" value="by" name="submitter-options">
                 Submitted by
               </label>
             </div>
             <div class="form-group">
               <input type="text" class="form-control" id="submitter-search" placeholder="Find submitter">
             </div>
             <button type="submit" class="btn btn-default apply-filter">Apply</button>
             <button class="btn btn-link" style="display:none;">Clear submitter filter</button>
           </form>
          </li>
         </ul>
      </li>
      <li class="dropdown" id="reviewer-filter">
        <a data-toggle="dropdown" href='#' id="reviewer-filter-dropdown">
          <button id="clear-reviewer-filter" class="btn btn-default btn-xs" title="Clear reviewer filter" style="display:none;">
             <span class="glyphicon glyphicon-remove"></span>
          </button>
          Reviewer
          <span class="caret"></span>
        </a>
        <ul role="menu" class="dropdown-menu table-toolbar">
           <li><span>Show series:</span></li>
           <li>
            <form id="reviewer-form">
             <div class="radio">
               <label>
                 <input id="reviewer-none" type="radio" value="none" name="reviewer-options">
                 Without a reviewer
               </label>
             </div>
             <div class="radio">
               <label>
                 <input id="reviewer-me" type="radio" value="me" name="reviewer-options">
                 Assigned to me for review
               </label>
             </div>
             <div class="radio">
               <label>
                 <input id="reviewer-to" type="radio" value="to" name="reviewer-options">
                 Assigned to
               </label>
             </div>
             <div class="form-group">
               <input type="text" class="form-control" id="reviewer-search" placeholder="Find reviewer">
             </div>
             <button type="submit" class="btn btn-default apply-filter">Apply</button>
             <button class="btn btn-link" style="display:none;">Clear reviewer filter</button>
           </form>
          </li>
         </ul>
      </li>
      <li class="dropdown" id="tests-filter">
        <a data-toggle="dropdown" href='#' id="tests-filter-dropdown">
          <button id="clear-tests-filter" class="btn btn-default btn-xs"
              title="Clear tests filter" style="display:none;">
             <span class="glyphicon glyphicon-remove"></span>
          </button>
          Tests
          <span class="caret"></span>
        </a>
        <ul role="menu" class="dropdown-menu table-toolbar">
           <li><span>Show series with test results:</span></li>
           <li>
            <form id="tests-form">
             <div class="checkbox">
               <label>
                 <input id="tests-success" type="checkbox" value="success" name="tests-options">
                 Success
               </label>
             </div>
             <div class="checkbox">
               <label>
                 <input id="tests-info" type="checkbox" value="success" name="tests-options">
                 Info
               </label>
             </div>
             <div class="checkbox">
               <label>
                 <input id="tests-warning" type="checkbox" value="warning" name="tests-options">
                 Warning
               </label>
             </div>
             <div class="checkbox">
               <label>
                 <input id="tests-failure" type="checkbox" value="failure" name="tests-options">
                 Failure
               </label>
             </div>
             <button type="submit" class="btn btn-default apply-filter">Apply</button>
             <button class="btn btn-link" style="display:none;">Clear tests filter</button>
           </form>
          </li>
         </ul>
      </li>
      <li id="search-filter">
        <form id="search-form" class="navbar-form navbar-left" role="search">
          <div class="input-group">
            <input id="search-series" type="text" style="width:20em;"
                class="form-control" placeholder="Search series title">
            <a class="input-group-addon btn btn-default">Search</a>
          </div>
          <button type="button" class="btn btn-link" style="display:none;">Clear search</button>
        </form>
      </li>
    </ul>
    <div class="btn-group navbar-btn" id="serieslist-actions" style="float:right; display:none;"
        data-disabled-title="Select items first. You have to be logged in and be a maintainer of this project.">
      <div class="btn-group" style="margin-left: 20px">
        <button data-toggle="dropdown" class="dropdown-toggle btn btn-default" id="reviewer-action-dropdown">
          Set reviewer
          <span class="caret"></span>
        </button>
        <ul role="menu" class="dropdown-menu table-toolbar stop-propagation" id="reviewer-action">
          <li>
            <form id="set-reviewer-form">
              <div class="radio">
                <label>
                  <input id='set-reviewer-none' type="radio" value="none" name="set-reviewer-options">
                  Mark as unassigned
                </label>
              </div>
              <div class="radio">
                <label>
                  <input id='set-reviewer-me' type="radio" value="me" name="set-reviewer-options">
                  Assign to myself for review
                </label>
              </div>
              <div class="radio">
                <label>
                  <input id='set-reviewer-to' type="radio" value="to" name="set-reviewer-options">
                  Assign to
                </label>
              </div>
              <div class="form-group">
                <input id="set-reviewer-search" type="text" class="form-control" placeholder="Find reviewer">
              </div>
              <button type="submit" class="btn btn-default apply-action">Apply</button>
            </form>
          </li>
        </ul>
      </div>
      <button class="btn btn-default" id="do-test-action">Test again</button>
    </div>
  </div>
 </div>
</nav>

{% include "patchwork/series-list-table.html" %}

{% endblock %}
